<!DOCTYPE html>
<html>
<head>
	<title>YAY THIS WORKS</title>
</head>
<body>
<h1>WOWOWOWOW</h1>
<button id="yay" type="button">PRESS MEEEE</button>
<script src="/socket.io/socket.io.js"></script>
<script src="js/client.js"></script>
</body>
</html>